/*Reset*/

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

ul,
li,
a{
  list-style: none;
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}

img{
  max-width: 100%;
  display: block;
}

/*Global*/
:root{
  --color-bg-primary:#3582AA;
  --color-bg-secundary1: #1a3747;
  --color-bg-secondary2: #c9c3d0;
  --color-important1:#c90808;
  --color-important2:#c94545;

}

html{
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-bg-secundary1);
  /*font-family: 'Courier New', Courier, monospace; mudar*/
  padding-top: 5rem;
}

/*compenents*/

.navbar{
  background-color: black;/*retirar depois*/
  width: 100%;
  /*retirar depois*/
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container{
  display: grid;
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 80rem;
}

.site-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img{
  height: 3rem;
}

.nav-menu{
  display: flex;
  gap: 1rem;
}

.poster{
  background-image: url("./image/bg3.png");
  background-repeat: repeat;
  background-size: contain;
  height: 6rem;
  display: flex;
  text-align: center;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.poster h1{
  background-color: var(--color-important1);
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.section{
  border:4px solid var(--color-primary);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.section--heading{
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.games-titles{
  display: grid;
  grid-template-columns: 1fr;
}

.titles-item{
  display: grid;
  grid-template-columns: 1fr;
}

.titles-item-column{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 0.5rem;
}

.titles-item-column img{
  width: 50px;
}
.titles-item-column div{
  display: grid;
  grid-template-columns: 1fr;
}

.footer{
  background-color: yellow;
  height: 120px;
}

/*scroll bar*/
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #c9c3d0;
}

*::-webkit-scrollbar-thumb {
  background-color: #c90808;
  border-radius: 0px;
  border: 9px outset #c94545;
}